/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Header styles */
header {
    background-color: rgb(240, 238, 238);
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
/* mascot */
.mascot{
    position:fixed;
    /* right: -200px; */
    bottom: 0px;
  right: -200px;
  width: 10vw;
  height: auto;
  z-index: 1001;

  animation: bounce 1.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.5, 0.05, 0.5);
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
.mascot_img {
  width: 100%;
  height: auto;
}
@keyframes bounce{
	0% {
		transform: translate3d(0, 0, 0);
	}
	/* 20% {
		transform: translate3d(0, -180px, 0);
	} */
	100% {
		transform: translate3d(-380px, 0, 0);
	}

}

.dialog-box {
	display: none;
	position: absolute;
	height: 150px;
	width: 200px;
	top: -40px;
	left: -160px;
	border-radius: 10px;
	margin-bottom: 8px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  }

.mascot:hover .dialog-box {
	display: block;
}
  
  .dialog-box .header {
	height: 25px;
	position: relative;
	color: black;
  }
  
  .background-blur {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
  }
  
  .left {
	float: left;
	text-align: left;
	padding: 3px 0 0 10px;
	font-size: 18px;
  }
  
  .right {
	float: right;
	text-align: right;
	padding: 3px 10px 0 0;
  }
  
  .contents {
	z-index: 100;
	position: inherit;
	font-size: 0.8em;
  }
  
  .main-content {
	padding: 8px 20px 10px 10px;
	font-size: 20px;
    /* text-align: right; */
  }

  .main-content strong {
	font-weight: 700;
  }
.mobile_nav {
    display: none;
}

nav {
    
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.nav_img {
    margin-left: 50px;
    height: 30px; /* Adjust the height as needed */
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 60%;
}

nav li {
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 38px;
}

section {
    overflow: hidden;
}
/* first section - main */
.main {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.main_page{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 80%;
}
.main_content{
    width: 65%;
    /* margin-left: 200px; */
}
.main_title {
    font-size: 6vw;
    /* font-size: 114px; */
    color: #2D2B2C;
    font: Inter;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.main_description {
    font-size: 2vw;
    /* font-size: 38px; */
    margin-bottom: 50px;
    /* margin-left: 200px; */
    width: 80%;
}
button {
    padding: 1.3vw 4.7vw 1.3vw 4.7vw ;
    /* 25px 90px; */
    background-color: #022A7F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    margin-right: 5.2vw;
    /* font-size: 36px; */
    font-size: 1.9vw;
    font-weight: 500;
    border-radius: 8px;
}
.mobile_sneaker1{
    display: none;
}
.main_buy {
    margin-top: 20px;
    /* margin-left: 100px; */
    display: flex;
    align-items: center;
    /* font-size: 60px; */
    font-size: 3.1vw;
    font-weight: 600;
}
.sneaker1{
    width: 50%;
    position: relative;
}
.sneaker1_img{
    width: 110%;
    /* transform: rotateZ(-43.51deg); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-43.51deg);
}

.section_titles{
    font-size: 4vw;
}
.special_list, .story_description{
    font-size: 2vw;
}
/* section 2 - special */
.special{
    font-family: 'Inter', sans-serif;
    
}
.special_page{
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
}
.sneaker2{
    width: 40%;
    margin-left: 10.5vw;
    /* margin-left: 200px; */
    margin-bottom: 20px;
}
.sneaker2_img{
    width: 29vw;
    height: 36vw;
    /* width: 553px; */
    /* height: 692px; */
    margin-top: 100px;
    margin-bottom: 70px;
}
.mobile_sneaker2_img{
    display: none;
}
.special_content{
    width: 50%;
}
.special_title{
    margin-top: 80px;
    /* font-size: 75px; */
    margin-bottom: 50px;
    font-weight: bold;
}
.special_list{
    /* font-size: 38px; */
    margin-right: 100px;
}
/* section 3 - story */
.story_page{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.story_content{
    width: 70%;
    /* margin-left: 200px; */
    margin-left: 10vw;
    margin-top: 50px;
    margin-bottom: 100px;
}
.story_title{
    margin-top: 20px;
    /* font-size: 75px; */
    margin-bottom: 50px;
    font-weight: bold;
}
.story_description{
    /* font-size: 38px; */
    width: 90%;
}
.sneaker3{  
    margin-right: 90px;
    margin-top: 0px;
}
.sneaker3_img{
    /* width: 23.53vw;
    height: 29.42vw; */
    width: 447px;
    height: 559px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.mobile_sneaker3{
    display: none;
    width: 100vw;
    height: 100%;
}
/* section 4 - you might like */
.like_page{
    background-color: #f8e8e8;
    display: flex;
    justify-content: space-between;
}
.like_content{
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 5.26vw;
    /* margin-bottom: 150px; */
    margin-bottom: 7.9vw;
    /* width: 100%; */
}

.like_title{
    /* font-size: 75px; */
    font-weight: bold;
    text-align: center;
}
.like_sneaker_content{
    /* margin-top: 80px; */
    margin-top: 4.21vw;
    display: flex;
    justify-content: space-between;

}
.like_sneaker{
    width:16.84vw;
    height: 16.84vw;
    padding: 20px;
}
.like_sneaker_img{
    /* width: 320px;
    height: 320px; */
    width:16.84vw;
    height: 16.84vw;
}
.like_sneaker_title{
    /* font-size: 34px; */
    font-size: 1.79vw;
    /* margin-top: 20px; */
    margin-top: 1.05vw;
    /* margin-bottom: 100px; */
    margin-bottom: 5.26vw;
}
/* section 5 - reviews */
.reviews_page{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.reviews_content{
    /* margin-right: 200px;
    margin-left: 200px; */
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
    margin: 50px auto 50px auto;

}
.reviews_title{
    /* font-size: 75px; */
    font-weight: bold;
    text-align: center;
}
.reviews_sneaker_content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.reviews_sneaker{
    /* width: 320px;
    height: 320px; */
    width:16.84vw;
    min-height: 16.84vw;
    background-color: #D9D9D9;
    padding: 20px;
}
.reviews_sneaker_title{
    font-size: 30px;
    margin-bottom: 10px; 
}

.star_name {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
/* .reviews_sneaker_description{
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 100px;
} */
.reviews_sneaker_description{
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
.reviews_sneaker_description:hover{
    overflow: visible;
    text-overflow: unset;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
}
.checked {
    color: black;
  }
  .unchecked {
    color: gray;
  }

.bottom {
    background-color: rgb(240, 238, 238);
    text-align: center;
    width: 100%;
    
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 70px; */
    margin: 70px auto 70px auto;
    width: 90%;
    
}
.footer_button{
    padding: 25px 90px 25px 90px;
    background-color: #022A7F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: 310px; */
    margin-right: 0px;
    font-size: 36px;
    font-weight: 500;
}
.rights{
    color: black;
    font-size: 20px;
}
.footer_links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact_logo_all{
    display: flex;
    justify-content: space-between;
    width: 353.7px;
    /* margin-top: 20px; */
}
.contact_logo{
    /* margin-right: 70px; */
    color: black;
    font-size: 40px;
}
.menu{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
#menu-toggle {
    display: block;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }
  
.menu-btn {
    display: block;
    /* position: absolute; */
    /* top: 20px; */
    /* right: 20px; */
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
    background: url("https://picua.org/images/2020/04/10/a6ec82ea250d3bc9229b1c8754f95484.png") no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    background-color: black;
  }
  
#menu-toggle:checked ~ .menu-btn {
    background: url("https://picua.org/images/2020/04/10/c797684675d60b6946b7927ea26d8718.png") no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    background-color: white;
  }
  
#menu-toggle:checked ~ .menu-box {
    visibility: visible;
    right: 0;
  }
  
.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
  
    width: 250px;
    height: 100%;
  
    margin: 0;
    padding: 15px 0;
  
    list-style: none;
  
    background-color: gray;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    
    transition-duration: .5s;
  }
  
.menu-item a {
    display: block;
    padding: 12px 24px;
  
    font-family: "Montserrat-Bold";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.67px;
    font-size: 17px;
  
    text-decoration: none;
    color: #000;
  }
  
.menu-item:hover {
    background-color: #252525;
    color: #000;
  }
.menu-item:hover a {
    color: #fff;
  }

/* Media queries */
@media (max-width:1124px){
    .navigation {
        display: none;
    }
    .main{
        height: auto !important;
        padding-top: 300px;
    }
    .mobile_nav {
        display: block;
    }
    .nav_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu-btn {
        position: absolute;
        margin-right: 100px;
        width: 30px;
    }
    .nav_img {
        margin-left: 20px;
        margin-top: 10px;
        height: 20px; /* Adjust the height as needed */
        width: auto;
    }
    button{
        font-size: 3vw; 
    }
    .main_content{
        width: 90%;
    }
    .main_title{
        font-size: 6vw;
    }
    .main_description{
        font-size: 2.5vw;
        width: 90%;
    }
    .sneaker1{
        margin-right: 50px;
        margin-top: 50px;
    }
    .sneaker1_img{
        width: 150%;
        transform: translate(-40%, -60%) rotateZ(-43.51deg);
    }
    .story_content{
        margin-bottom: 50px;
    }
    /* special */
   .section_titles{
       font-size: 45px;
   }
   .special_list, .story_description{
       font-size: 22.5px;
   }
   /* story papucu mai la margina */
    .sneaker3{
         margin-right: -20px;
    }
    .sneaker3_img{margin-bottom: 0px;
    }
    .story_title{
        font-size: 45px;
    }
    /* like */
    .like_sneaker_content{
        width:100%
    }
    .like_content{
        margin-left: 8vw;
        margin-bottom: 100px;
    }
    .reviews_sneaker_content{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer_content{
        flex-direction: column-reverse;
    }
    .footer_button{
        margin-top: 40px;
    }
    .rights{
        margin-top: 40px;
    }
    .mascot{
        width: 15vw;
    }
    
}
@media (max-width:950px){
    /* fontul margin */
    .section_titles{
        font-size: 40px;
    }
    .section_titles,.special_title{
        margin-top: 4.2vw;

    }
    .special_list{
        margin-right: 4vw;
    }
    .special_content{
        width: 55%;
    }
    /* story description mai lat */
    .story_description{
        width: 100%;
    }
    .story_content{
        width: 100%;
    }
    .sneaker3_img{
        width: 37.25vw;
        height: 46.58vw;
    }
    /* like de facut textul mai mare */
    .like_sneaker_title{
        font-size: 2.1vw;
    }
    .like_sneaker_content{
        width: 100%;
    }
    /* reviews */
    .reviews_sneaker{
       width: 40%;
         margin-bottom: 50px;
    }
    .mascot{
        width: 18vw;
    }

}
@media (max-width:740px){
    .main_description{
        font-size: 20px;
    }
    .special_content{
        width: 80%;
        margin-left: 50px;
        
    }
    .section_titles,.special_title{
        text-align: center;
        /* color: white; */
    }
    /* story */
    .story_page{
        margin-left: 0px;
    }
    .story_content{
        width: 80%;
        text-align: justify;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .story_description{
        width: 90%;
    }
    .story_title{
        margin-left: -50px;
    
    }
    .sneaker3{
        display: none;
    }
    .mobile_sneaker3{
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }
    .mobile_sneaker3_img{
        width: 100vw;
        /* width: 100%; */
        height: 100%;
        /* width: 30vw;
        height: 37.5vw; */
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .like_sneaker_content{
        flex-wrap: wrap;
        justify-content: space-between;
        
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .like_sneaker{
        width:40%;
        height:40%;
    }
    .like_sneaker_img{
        width: 100%;
        height:100%;
    }
    .like_sneaker_title{
        font-size: 20px;
    }
    .mascot{
        width: 20vw;
    }
}
@media (max-width: 670px){
    .main_page{
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* align-items: center; */
        width: 80%;
        margin-left: 50px;
        margin-right: 0px;
        
    }
    .main_content{
        width: 100%;
    }
    .main_title{
        font-size: 8vw;
    }
    .main_description{
        width: 80%;
        font-size: 3vw;
    }
    .main_buy{
        display: block;
        margin-top: -20px;
        font-size: 4vw;
    }
    .main_price{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .sneaker1{
        width: 100%;
        margin-left: 100px;
        margin-right: 50px;
        margin-top: 0px;
    }
    .sneaker1_img{
        width: 100%;
        transform: translate(-40%, -60%) rotateZ(-43.51deg);
    }
    button{
        padding: 1.4vw 4.7vw 1.4vw 4.7vw ;
        font-size: 3.5vw;
    }
    /* special */
    .story_page, .special_page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sneaker2, .sneaker3{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

    }
    .sneaker2_img{
        display: none;
    }
    .mobile_sneaker2_img{
        display: block;
        margin-left: 0px;
        width: 100vw;
        height: 100vw;
    }
    .special_content{
        margin-bottom: 50px;
    }
    @keyframes bounce{
        0% {
            transform: translate3d(0, 0, 0);
        }
        /* 20% {
            transform: translate3d(0, -180px, 0);
        } */
        100% {
            transform: translate3d(-280px, 0, 0);
        }
    
    }
   /* .like_sneaker_content{
    flex-direction: column;

   } */
}

/* phones */
@media screen and (max-width:576px) {
    .main_page{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
    }
    .main_content{
        width: 90%;
    }
    .main_title{
        font-size: 10vw;
    }
    .main_description{
        text-align: justify;
        width: 90%;
        font-size: 4vw;
        margin-bottom: 0px;
    }
    .main_buy{
        display: block;
        /* margin-top: -20px; */
        /* font-size: 7vw; */
    }
    button{
        padding: 4vw 30vw 4vw 30vw ;
        font-size: 5vw;
        /* font-size: 28px; */
    }
    .main_price{
        display: none;
    }
    .mobile_sneaker1{
        display: flex;
        justify-content: space-between;
        /* display: block; */
        margin-top: 10px;
        margin-bottom: 15px;
        
        width: 100%;
        /* width: 50vw; */
    }
    .mobile_main_price{
        display: block;
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 36px;
        font-weight: bold;
    }
    
    .mobile_sneaker1_img{
        /* width: 100%; */
        width: 65vw;
        transform: translate(-10%, 0%);
        margin-right: 50px;
    }
   .sneaker1{
    display: none;
    /* margin-top: 100px;
        width: 50%; */
   }
   .sneaker1_img{
       width: 100%;
       transform: translate(-40%, -60%) rotateZ(-43.51deg);
   }
   
    .like_sneaker{
        width:38%;
        height:38%;
    }
   .reviews_sneaker{
       width: 100%;
       margin-bottom: 50px;
   }
   .mascot{
        bottom: calc(100% - 180px);
        right: -200px;
   }
   @keyframes bounce{
	0% {
		transform: translate3d(0, 0, 0);
	}
	/* 20% {
		transform: translate3d(0, -180px, 0);
	} */
	100% {
		transform: translate3d(-380px, 0, 0);
	}

}
}

@media screen and (max-width:470px){
    .main_page{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
    }
    .main_content{
        width: 90%;
    }
    .main_title{
        margin: 0px;
        font-size: 10vw;
    }
    .main_description{
        margin-top: 20px;
        text-align: justify;
        width: 90%;
        font-size: 15px;
        margin-bottom: 0px;
    }
    .main_buy{
        display: block;
        /* margin-top: 0px; */
        /* font-size: 7vw; */
    }
    button{
        padding: 4vw 25vw 4vw 25vw ;
        font-size: 24px;
        /* font-size: 28px; */
    }
    /* .main_button{
        font-size: 26px;
    } */
    .main_price{
        display: none;
    }
    .mobile_sneaker1{
        display: flex;
        justify-content: space-between;
        /* display: block; */
        margin-top: 10px;
        margin-bottom: 15px;
        
        width: 100%;
        /* width: 50vw; */
    }
    .mobile_main_price{
        display: block;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 36px;
        font-weight: bold;
    }
    
    .mobile_sneaker1_img{
        /* width: 100%; */
        width: 65vw;
        transform: translate(-40%, 0%);
        margin-right: 50px;
        margin-top: 50px;
    }
   .sneaker1{
    display: none;
    /* margin-top: 100px;
        width: 50%; */
   }
   .sneaker1_img{
       width: 100%;
       transform: translate(-40%, -60%) rotateZ(-43.51deg);
   }  
   /* special */
    .section_titles, .special_title{
        font-size: 9vw;
    }
    .special_content{
        width: 90%;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .special_list{
        margin-left: 30px;
        font-size: 20px;
    }
    /* like */
    .like_sneaker{
        width:100%;
        height:100%;
    }
    .like_sneaker_title{
        font-size: 20px;
    }
    .mascot{
        /* right: -200px; */
        bottom: 0px;
        right: -200px;
        width: 30vw;
      
    }
    @keyframes bounce{
        0% {
            transform: translate3d(0, 0, 0);
        }
        /* 20% {
            transform: translate3d(0, -180px, 0);
        } */
        100% {
            transform: translate3d(-380px, 0, 0);
        }
    
    }
    
}