/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
}

/* Header styles */
header {
    background-color: rgb(240, 238, 238);
    color: rgb(0, 0, 0);
    padding: 10px;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.nav_img {
    margin-left: 50px;
    height: 30px; /* Adjust the height as needed */
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 60%;
}

nav li {
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 38px;
}

main {
    padding: 20px;
    margin-left: 100px;
    font-family: 'Inter', sans-serif;
}
.main_page{
    display: flex;
    justify-content: space-between;
}
.main_content{
    width: 60%;
}
.main_title {
    font-size: 114px;
    color: #2D2B2C;
    font: Inter;
    /* make bold */
    font-weight: 800;
    margin-top: 160px;
    margin-bottom: 50px;
    margin-left: 200px;
}
.main_description {
    font-size: 38px;
    margin-bottom: 50px;
    margin-left: 200px;
    width: 80%;
}
button {
    padding: 25px 90px 25px 90px;
    background-color: #022A7F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 36px;
    font-weight: 500;
    border-radius: 8px;
}
.main_buy {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
}
.sneaker1{
    width: 50%;
    position: relative;
}
.sneaker1_img{
    width: 110%;
    transform: rotateZ(-43.51deg);
    position: absolute;
    top: -250px;
    left: -150px;
}